{"Student 1": {"name": "Umesh Sir", "email": "Umesh.gupta@gmail.com", "telnum": "9847333333", "rollno": "1"}, "Student 2": {"name": 
"Raaz Kapoor", "email": "hackeraj.np@gmail.com", "telnum": "9847333833", "rollno": "2"}}


{"Student 1": 
    {"name": "Umesh Gupta", "email": "UmeshGupta@gmail.com", "telnum": "98071859789", "rollno": "1"}, 
    "Student 2": {"name": "Raaz Kushwaha", "email": "Hackeraj.np@gmail.com", "telnum": "984733833", "rollno": "2"}, 
    "Student 3": {"name": "Nabeel Anasari", "email": "NabeelAnasari@gmail.com", "telnum": "9806864123", "rollno": "3"}}



    {
        "data": {
            {
                "email": "umeshgupta@gmail.com",
                "name": "umesh Gupta",
                "rollno": "1",
                "telnum": "9847333833"
            },
            {
                "email": "hackeraj.np@gmail.com",
                "name": "Raaz Kushwaha",
                "rollno": "2",
                "telnum": "9806864139"
            }
        },
        "username": "hackeraj"
    }




    {"username": "hackeraj", "data": [{"name": "Umesh Gupta", "email": "UmeshGupta@gmail.com", "telnum": "9847333833", "rollno": "1"}, {"name": "Raaz 
Kushwaha", "email": "hackeraj.np@gmail.com", "telnum": "9806864139", "rollno": "2"}]}